<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} | Abdelrahman Nayf</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
    </nav>
    <div class="container">
        <h2>{{ post.title }}</h2>
        <p class="date">{{ post.date.strftime('%B %d, %Y') }}</p>
        <div class="post-content">{{ post.content }}</div>
        <a href="/blog" class="btn btn-outline">Back to Blog</a>
    </div>
</body>
</html>
